# Web Framework
fastapi==0.104.1
uvicorn==0.24.0

# Database
sqlalchemy==2.0.23
asyncpg==0.29.0
alembic==1.12.1
psycopg2-binary==2.9.9

# LangChain & GigaChat
langchain
langgraph
langchain-gigachat

# APIs & Services
openrouteservice

# Other
python-dotenv==1.0.0
salute-speech